<h4>会員情報編集</h4>
<div class="container">
    <div class="row">
        <div class="col-3">
<p>氏名</p>
<p>フリガナ</p>
<p>郵便番号</p>
<p>住所</p>
<p>電話番号</p>
<p>メールアドレス</p>
</div>
<%= form_with model: @customer, url: customers_path, method: :patch do |f| %>
<p><%= f.text_field :last_name %><%= f.text_field :first_name %></p>
<p><%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %></p>
<p><%= f.text_field :postal_code %></p>
<p><%= f.text_field :address %></p>
<p><%= f.text_field :telephone_number %></p>
<p><%= f.text_field :email %></p>
<%= f.submit '編集内容を保存', class:"btn btn-success" %>
<% end %>
<div><%= link_to "退会する", quit_path, class:"btn btn-success" %></div>
</div>
</div>