

<h4>登録情報</h4>
 <div><%= link_to "編集する", edit_public_customer_path(@customer.id), class:"btn btn-success" %></div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <p>氏名</p>
      <p>カナ</p>
      <p>郵便番号</p>
      <p>住所</p>
      <p>電話番号</p>
      <p>メールアドレス</p>
    </div>
    <div class="col-md-6">

      <p><%= @customer.last_name %><%= @customer.first_name %></p>
      <p><%= @customer.last_name_kana %><%= @customer.first_name_kana %></p>
      <p><%= @customer.postal_code %></p>
      <p><%= @customer.address %></p>
      <p><%= @customer.telephone_number %></p>
      <p><%= @customer.email %></p>
     

      </div>
      </div>
      <div class="row">
    <div class="col-3">
      <h4>配送先</h4> 
      <h4>注文履歴</h4>
      </div>
      <div class="col-3">
      <p><%= link_to "一覧を見る", public_addresses_path(@customer.id), class:"btn btn-success" %></p>
      <p><%= link_to "一覧を見る", public_orders_path(@customer.id), class:"btn btn-success" %></p>
      </div>
      </div>
      </div>