

<h4>登録情報</h4>
 <div><%= link_to "編集する", edit_public_customer_path(@customer.id), class:"btn btn-success" %></div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div>氏名</div>
      <div>カナ</div>
      <div>郵便番号</div>
      <div>住所</div>
      <div>電話番号</div>
      <div>メールアドレス</div>
    </div>
    <div class="col-md-6">

      <div><%= @customer.last_name %><%= @customer.first_name %></div>
      <div><%= @customer.last_name_kana %><%= @customer.first_name_kana %></div>
      <div><%= @customer.postal_code %></div>
      <div><%= @customer.address %></div>
      <div><%= @customer.telephone_number %></div>
      <div><%= @customer.email %></div>
     

      </div>
      </div>
      
      </div>
      <h4>配送先</h4> <div><%= link_to "一覧を見る", public_addresses_path(@customer.id), class:"btn btn-success" %></div>
      <h4>注文履歴</h4> <div><%= link_to "一覧を見る", public_orders_path(@customer.id), class:"btn btn-success" %></div>