 <div class="container">
  <div class="row">
    <div class="col-md-4">
       <h4>商品詳細</h4>
  <% if @item.image.attached? %>
    <%= image_tag @item.image, size: "200x200" %>
  <% else %>
    <%= image_tag 'no_image', size: "200x200" %>
  <% end %>
  </div>

<div class="col-md-3">
<div>商品名</div>
 <div>商品説明</div>
 <div>ジャンル</div>
 <div>税込価格</div>
 <div>販売ステータス</div>
</div>

<div class="col-md-5">
<div><%= @item.name %></div>
<div><%= @item.introduction %></div>
<div><%= @genre.name %></div>
<div><%= @item.with_tax_price %>円</div>
<div><% if @item.is_active %>
          <span style="color: green;">販売中</span>
          <% else %>
           <span style="color: #808080;">販売停止中</span>
          <% end %></div>
</div>
</div>
<div class="section1 text-center">
 <div><%= link_to "編集する", edit_admin_item_path(@item.id), class:"btn btn-success" %></div>

 </div>
</div>