<div class="container">
<div class="row">
  <h5>ようこそ、ながのCAKEへ！<br>
このサイトは、ケーキ販売のECサイトになります。<br>
会員でない方も商品の閲覧はできますが、<br>
購入には会員登録が必要になります。</h5>
</div>

<h3>新着商品</h3>

<% @items.each do |item| %>
<div class="row">
  <div class="col">
  <div class="p-1">
    <%= link_to item_path(item.id) do %>
    <% if item.image.attached? %>
    <%= image_tag item.image, size: "150x150" %>
  <% else %>
    <%= image_tag 'no_image', size: "150x150" %>
  <% end %>
  <% end %>
  </div>
<p><%= link_to item.name %></p>

<p>¥<%= item.with_tax_price %></p>
<% end %>
</div>
</div>
</div>