<h3><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h3>

<div class="container">
  <div class="row">
    <div class="col-lg-6">

      <p>会員ID</p>
      <p><%= @customer.id %></p>
      <%= form_with model: @customer, url:admin_customer_path(@customer.id) do |f| %>
      <p>氏名</p>
      <%= f.text_field :last_name %><%= f.text_field :first_name %>
      <p>フリガナ</p>
      <%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %>
      <p>郵便番号</p>
      <%= f.text_field :postal_code %>
      <p>住所</p>
      <%= f.text_area :address %>
      <p>電話番号</p>
      <%= f.text_field :telephone_number %>
      <p>メールアドレス</p>
      <%= f.text_field :email %>
      <p>会員ステータス</p>

      <%= f.radio_button :is_deleted, false %>
      <%= f.label :is_deleted, '有効' %>
      <%= f.radio_button :is_deleted, true %>
      <%= f.label :is_deleted, '退会' %>

      <%= f.submit '変更を保存', class:"btn btn-success" %>
      <% end %>
      </div>
      </div>
      </div>