<h3><%= @customer.last_name %><%= @customer.first_name %>さんの会員詳細</h3>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div>会員ID</div>
      <div>氏名</div>
      <div>フリガナ</div>
      <div>郵便番号</div>
      <div>住所</div>
      <div>電話番号</div>
      <div>メールアドレス</div>
      <div>会員ステータス</div>
    </div>
    <div class="col-md-6">
      <div><%= @customer.id %></div>
      <div><%= @customer.last_name %><%= @customer.first_name %></div>
      <div><%= @customer.last_name_kana %><%= @customer.first_name_kana %></div>
      <div><%= @customer.postal_code %></div>
      <div><%= @customer.address %></div>
      <div><%= @customer.telephone_number %></div>
      <div><%= @customer.email %></div>
      <div><% if @customer.is_deleted %>
                 <span style="color: #808080;">退会済</span>
                <% else %>
                 <span style="color: green;">有効</span>
                <% end %></div>

      </div>
      </div>
      <div><%= link_to "編集する", edit_admin_customer_path(@customer.id), class:"btn btn-success" %></div>
      </div>
