<h3>注文履歴詳細</h3>
<p>購入者</p>
<p>注文日</p>
<p>配送先</p>
<p>支払方法</p>
<p><%= @order_product.name %></p>
<p><%= @order_product.created_at.strftime("%Y/%m/%d") %></p>
<p>〒<%= @order_product.postal_code %> <%= @order_product.address %><p><%= @order_product.name %></p></p>
<p><%= @order_product.payment_method_i18n %></p>
<div class="container">
  <div class="row">
    <div class="col-8">
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
    </thead>
    <tbody>
      <tr>
           <% @order_product.order_products.each do |order_item| %>
          <td><%= order_item.item.name %></td>
          <td><%= order_item.price %></td>
          <td><%= order_item.amount %></td>
          <td><%= order_item.subtotal %></td>
           <% end %>
      </tr>
    </tbody>
  </table>
  </div>
  </div>
  </div>