<h3>注文履歴詳細</h3>

<div class="container">
    <div class="row">
        <div class="col-4">

<p>購入者</p>
<p>注文日</p>
<p>配送先</p>
<p>支払方法</p>
</div>
<div class="col-8">
<p><%= link_to @order_product.name, admin_customer_path(@customer.id) %></p>
<p><%= @order_product.created_at.strftime("%Y/%m/%d") %></p>
<p>〒<%= @order_product.postal_code %> <%= @order_product.address %> <%= @order_product.name %></p>
<p><%= @order_product.payment_method_i18n %></p>
</div>
</div>
<div class="row">
    <div class="col-8">
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>商品名</th>
      <th>単価（税込）</th>
      <th>数量</th>
      <th>小計</th>
    </tr>
    </thead>
    <tbody>
      <tr>
           <% @order_product.order_products.each do |order_item| %>
          <td><%= order_item.item.name %></td>
          <td><%= order_item.price %></td>
          <td><%= order_item.amount %></td>
          <td><%= order_item.subtotal %></td>
           <% end %>
      </tr>
    </tbody>
  </table>
  </div>
  <div class="col-2">
  <p>商品合計</p>
  <p>送料</p>
  <p>請求金額合計</p>
  </div>
  <div class="col-2">
  <p><%= @order_products.sum(&:subtotal)%></p>
  <p><%= @order_product.shopping_cost %></p>
  <p><%= @order_product.total_payment %></p>
  </div>
  </div>
  </div>