<h4>配送先編集</h4>
<div class="container">
    <div class="row">
        <div class="col-3">
<p>郵便番号(ハイフンなし)</p>
<p>住所</p>
<p>宛名</p>
</div>
<div class="col-9">
<%= form_with model: @address, url:public_address_path(@address.id), method: :patch do |f| %>

<p><%= f.text_field :postal_code %></p>
<p><%= f.text_field :address %></p>
<p><%= f.text_field :name %> <%= f.submit '変更内容を保存', class:"btn btn-success" %></p>
<% end %>
</div>