<h4>商品一覧</h4>
<% @items.each do |item| %>

    <% if item.image.attached? %>
    <%= image_tag item.image, size: "150x150" %>
  <% else %>
    <%= image_tag 'no_image', size: "150x150" %>
  <% end %>
  </div>
  <!--customerの商品一覧に変更-->
<p><%= link_to item.name, public_item_path(item.id) %></p>

<p>¥<%= item.price %></p>
<% end %>
<div class="d-flex justify-content-center">
<%= paginate @items %>
</div>
